<p-dialog
  [visible]="visible"
  [closable]="true"
  [style]="{ width: '50vw' }"
  header="Contact Details"
>
  <form [formGroup]="contactUpdateForm" (submit)="updateContact()">
    <div class="grid">
      <div class="col-6">
        <div class="field">
          <label for="firstName">First Name</label>
          <input
            formControlName="firstName"
            id="firstName"
            type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          />
          <small
            *ngIf="contactUpdateForm.get('firstName')?.errors?.['required']"
            class="p-invalid"
            >Email is required.</small
          >
          <small
            *ngIf="contactUpdateForm.get('firstName')?.errors?.['maxlength']"
            class="p-invalid"
            >Email is too long.</small
          >
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label for="lastName">Last Name</label>
          <input
            id="lastName"
            formControlName="lastName"
            type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          />
          <small
            *ngIf="contactUpdateForm.get('lastName')?.errors?.['required']"
            class="p-invalid"
            >Email is required.</small
          >
          <small
            *ngIf="contactUpdateForm.get('lastName')?.errors?.['maxlength']"
            class="p-invalid"
            >Email is too long.</small
          >
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label for="dateOfBirth">Birth Date</label>
          <input
            id="dateOfBirth"
            formControlName="dateOfBirth"
            type="date"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          />
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label for="phoneNumber">Phone Number</label>
          <input
            id="phoneNumber"
            formControlName="phoneNumber"
            type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          />
          <small
            *ngIf="contactUpdateForm.get('phoneNumber')?.errors?.['required']"
            class="p-invalid"
            >Phone Number is required.</small
          >

          <small
            *ngIf="contactUpdateForm.get('phoneNumber')?.errors?.['maxlength']"
            class="p-invalid"
            >Phone Number is too long.</small
          >
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label for="iban">IBAN</label>
          <input
            id="iban"
            formControlName="iban"
            type="text"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          />
          <small
            *ngIf="contactUpdateForm.get('iban')?.errors?.['maxlength']"
            class="p-invalid"
            >IBAN is too long.</small
          >
        </div>
      </div>
    </div>

    <div>
      <p-button
        type="submit"
        label="Update"
        [disabled]="!this.contactUpdateForm.valid"
      ></p-button>
    </div>
  </form>

  <form [formGroup]="addAddressForm">
    <p-table
      *ngIf="addresses$"
      [value]="(addresses$ | async) || []"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Title</th>
          <th>Country</th>
          <th>City</th>
          <th>Street</th>
          <th>Number</th>
          <th></th>
        </tr> </ng-template
      ><ng-template pTemplate="footer">
        <tr>
          <th>
            <input
              id="title"
              placeholder="Title"
              formControlName="title"
              type="text"
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
          </th>
          <th>
            <input
              id="country"
              placeholder="Country"
              formControlName="country"
              type="text"
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
          </th>
          <th>
            <input
              id="city"
              placeholder="City"
              formControlName="city"
              type="text"
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
          </th>
          <th>
            <input
              id="street"
              placeholder="Street"
              formControlName="street"
              type="text"
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
          </th>
          <th>
            <input
              id="number"
              placeholder="Number"
              formControlName="number"
              type="text"
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
          </th>
          <td>
            <p-button
              icon="pi pi-plus"
              styleClass="p-button"
              (click)="addAddress()"
              [disabled]="!addAddressForm.valid"
            ></p-button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-address>
        <tr>
          <td>{{ address.title }}</td>
          <td>{{ address.country }}</td>
          <td>{{ address.city }}</td>
          <td>{{ address.street }}</td>
          <td>{{ address.number }}</td>
          <td>
            <p-button
              icon="pi pi-trash"
              styleClass="p-button p-button-danger"
              (click)="deleteAddress(address)"
            ></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </form>
</p-dialog>
